amplpy
--extra-index-url https://pypi.ampl.com
ampl_module_base
ampl_module_highs
coloredlogs
geopandas<1.0.0
kaleido
matplotlib
numpy<2.0.0
openpyxl
pandas<2.0.0
plotly
psycopg2<3.0.0 ; platform_system != "Windows"
psycopg2-binary<3.0.0 ; platform_system == "Windows"
pvlib
pyclustering
pyproj
python-dotenv
pytest
qmcpy
requests
SALib
scipy
setuptools
shapely
sqlalchemy<2.0.0
urllib3
