sqlalchemy==1.4.42
geoalchemy2==0.12.5
psycopg2==2.9.4
pandas==1.5.0
geopandas==0.13.2
numpy==1.23.4
numpy-financial==1.0.0
amplpy==0.8.5
matplotlib==3.6.1
openpyxl~=3.0
pyshp==2.3.1
git+https://github.com/building-energy/epw.git@master
scipy==1.9.2
plotly==5.10
kaleido~=0.2.1
xlsxwriter~=3.0.3
wheel~=0.37
pipwin~=0.5.2
scikit-learn
scikit-learn-extra